* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.root {
    flex: 1 0 auto;
}
.header,
.footer {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
}
.header {
    border-bottom: 2px solid #1890FF;
}
.header__logo {
    font-size: 20px;
    font-weight: 800;
    margin: 0;
}
.nav-button {
    position: relative;
    height: 4px;
    width: 40px;
    background-color: #1890FF;
}
.nav-button::before,
.nav-button::after {
    content: '';
    position: absolute;
    display: inline-block;
    height: 4px;
    width: 40px;
    background-color: #1890FF;
}
.nav-button::before {
    top: -15px;
}
.nav-button::after {
    top: 15px;
}
.footer {
    border-top: 2px solid #1890FF;
}
.developers {
    padding: 10px;
    text-align: center;
}

@media all and (max-width: 768px) {
    .footer {
        justify-content: center;
    }
    .developers {
        width: 100%;
    }
}

