.footer {
    border-top: 2px solid #1890FF;
}
.developers {
    padding: 10px;
    text-align: center;
}

@media all and (max-width: 768px) {
    .footer {
        justify-content: center;
    }
    .developers {
        width: 100%;
    }
}