.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  background: url("./404.png") center no-repeat;
  background-size: contain;
}

.error-text {
  margin: 0;
  font-size: 4rem;
  line-height: 4rem;
  color: #1890ff;
}

.error-title {
  margin: 0;
  font-size: 10rem;
  line-height: 3rem;
  font-weight: bold;
  color: #7e7e7e;
}

.error-button {
  display: inline-block;
  padding: 5px 15px;
  margin-top: 30px;
  color: #ffffff;
  background-color: #1890ff;
  border: 1px solid #1890ff;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 5%);
  transition: all 0.5s ease 0s;
}
.error-button:hover {
  color: #ffffff;
  background-color: #40a9ff;
  border-color: #40a9ff;
}
